# Генерация данных для связки user-movie

In [228]:
import datetime
import random
import uuid

import pandas as pd
from random import randrange

In [320]:
user_id = [str(uuid.uuid4()) for _ in range(100000)]

In [321]:
movie_id = [str(uuid.uuid4()) for _ in range(10000)]

In [322]:
def get_new_list(rep_number: int, len_: int, original_list: list):
    lst = []
    for _ in range(rep_number):
        lst += random.sample(original_list, len_)
    return lst

In [323]:
users = get_new_list(25, len(user_id), user_id)

In [324]:
users += get_new_list(50, int(len(user_id) / 2), user_id)

In [325]:
movies = get_new_list(10, len(movie_id), movie_id)

In [326]:
movies += get_new_list(20, int(len(movie_id) / 2), movie_id)

In [327]:
movies += get_new_list(2400, int(len(movie_id) / 5), movie_id)

In [328]:
len(movies)

5000000

In [329]:
len(users)

5000000

In [330]:
df_data = pd.DataFrame({
    'user_id': users,
    'movie_id': movies,
})

In [331]:
df_data.head()

                                user_id                              movie_id
0  871c1108-5cd3-4919-9574-b1ae57d9a180  4321308e-0fa0-4ece-9382-356f697ba823
1  5294b3ff-0ccd-4b28-b9f7-0a1313a032f7  09cde2d6-23a7-4015-a05c-7b4b259920fd
2  1164ea22-8d62-477e-8e52-50faaedf52df  b55eb1da-f942-4b06-aaf7-e4b974a57c58
3  99b34ff9-cb4d-4657-8e68-da120616a59d  a9f975ec-2e43-4f5e-b222-3d2ee8a0311c
4  b85619a4-56b4-493c-9ee0-3fdc8f888b0c  a4219fdf-b4d2-4498-871c-968b21b0d355

In [332]:
df_data[df_data.duplicated() == True]

,user_id,movie_id
104170,36d12b77-880c-476b-b5c0-e943e41f1475,76ea692f-1c44-4080-8abd-8f35d956d494
107258,24ba3eb6-5414-4af4-9937-fccf3ca53a26,5a0c4619-b720-4f28-9402-f61bafc87191
118376,7f837432-63f1-466d-b8b4-3d4e53803b87,3c9f5729-4c68-45e4-b47c-03ffe6524f52
156778,67834f63-2eeb-4ed4-9977-aa528c6739cb,90d3db9d-da44-48c6-9d6d-80b22d23227b
169887,20fe0a26-223d-4b09-afc1-84c1e8f8f80a,b14da8b3-263a-4e3a-9ac2-b5780fb0e6ca
...,...,...
4999332,2be0887b-d106-43d3-997c-c26559f74ae6,cb493b71-e533-4616-a4ef-7ced4e1f4a31
4999368,fafc9f57-e9bc-4f95-a495-3c42e5257e9c,8b2b94a5-d731-42a9-b76c-63330cd4dba3
4999424,cd61c9e3-37af-4a2f-aaf7-12b3069f44bb,f19e26e5-84af-4c38-b515-632c3376600b
4999455,7dc7e47f-648b-4094-82b0-3acf64bd28fb,dc6d4920-e753-4316-b421-0fa925f62468
4999706,d52b59f3-861e-4aa3-aa4d-a7b8dac8f00f,6502c099-aaa4-46e0-9cfb-bcedd466f8c1

In [333]:
df_data.drop_duplicates(inplace=True)

In [334]:
movies = get_new_list(1, 12289, movies)

In [335]:
users = get_new_list(1, 12289, users)

In [336]:
df_data2 = pd.DataFrame({
    'user_id': users,
    'movie_id': movies,
})

In [337]:
df_data = df_data.append(df_data2, ignore_index=True)

/var/folders/bx/x6f3j_xj25g0zgtpmr37nncm0000gn/T/ipykernel_51492/2114390858.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_data = df_data.append(df_data2, ignore_index=True)

In [338]:
df_data

,user_id,movie_id
0,871c1108-5cd3-4919-9574-b1ae57d9a180,4321308e-0fa0-4ece-9382-356f697ba823
1,5294b3ff-0ccd-4b28-b9f7-0a1313a032f7,09cde2d6-23a7-4015-a05c-7b4b259920fd
2,1164ea22-8d62-477e-8e52-50faaedf52df,b55eb1da-f942-4b06-aaf7-e4b974a57c58
3,99b34ff9-cb4d-4657-8e68-da120616a59d,a9f975ec-2e43-4f5e-b222-3d2ee8a0311c
4,b85619a4-56b4-493c-9ee0-3fdc8f888b0c,a4219fdf-b4d2-4498-871c-968b21b0d355
...,...,...
4999995,9325af73-f3d0-4bb1-a4c2-38b4d53d38f6,0560b085-dbfe-4e91-9c30-7ab5294a8fb0
4999996,131491a1-6948-4017-8334-273046c3b046,f127543b-c4f5-4e47-b6cb-84d9a4f1997a
4999997,d97d2a57-205f-4947-9bca-79307f0e7a93,87d02ee5-8fbb-4996-9b88-205c75ef657d
4999998,9aa6eca3-baf5-47bb-bf05-1a2e2398ac74,678e5b96-f699-4adb-b4e0-4bfef83488f3
4999999,93b9c004-62dd-4b3b-a01a-cd0bc373f3ec,329eb85f-596a-4888-8066-83c459eb66fa

In [339]:
df_data[df_data.duplicated() == True].shape

(62, 2)

In [340]:
movies = get_new_list(1, 62, movies)

In [341]:
users = get_new_list(1, 62, users)

In [342]:
df_data3 = pd.DataFrame({
    'user_id': users,
    'movie_id': movies,
})

In [343]:
df_data = df_data.append(df_data3, ignore_index=True)

/var/folders/bx/x6f3j_xj25g0zgtpmr37nncm0000gn/T/ipykernel_51492/3927899317.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_data = df_data.append(df_data3, ignore_index=True)

In [348]:
df_data[df_data.duplicated() == True].shape

(62, 2)

In [349]:
df_data.drop_duplicates(inplace=True)

In [350]:
df_data.shape

(5000000, 2)

In [377]:
df_data['ids'] = [str(uuid.uuid4()) for _ in range(5000000)]

In [379]:
df_data.to_csv('user_data.csv')

In [378]:
df_data

,user_id,movie_id,ids
0,871c1108-5cd3-4919-9574-b1ae57d9a180,4321308e-0fa0-4ece-9382-356f697ba823,81b729de-4919-41b6-b559-36fcb062eb0d
1,5294b3ff-0ccd-4b28-b9f7-0a1313a032f7,09cde2d6-23a7-4015-a05c-7b4b259920fd,314cb7ed-1049-408e-bb51-9eab72b46f3a
2,1164ea22-8d62-477e-8e52-50faaedf52df,b55eb1da-f942-4b06-aaf7-e4b974a57c58,8c5c581d-8aa0-467c-9b7c-0d62a6bb102f
3,99b34ff9-cb4d-4657-8e68-da120616a59d,a9f975ec-2e43-4f5e-b222-3d2ee8a0311c,bfa2a714-3aad-4809-84a2-ba88ba11b881
4,b85619a4-56b4-493c-9ee0-3fdc8f888b0c,a4219fdf-b4d2-4498-871c-968b21b0d355,61c4e521-2734-4247-8b37-b4bc418665ef
...,...,...,...
5000057,53525b30-fa99-4cbb-9822-f815bf499df6,74b6a2e7-0540-4a43-bcb9-32069493cbed,5b917ed2-0a0b-4d62-bd91-c149bc386def
5000058,4e5923a3-3a85-4fa5-8855-2004efca373c,2adce97f-20bd-4bd7-9979-c6b670be3453,6335d3b3-0367-4588-b3aa-42a34688bd87
5000059,8c8248c9-176a-4a6e-88f8-c5f19757fa8f,1994c098-6004-468d-bde6-724049e2fd52,409ab8b3-e9cf-4049-b369-0f06486fef8e
5000060,4a86b4c4-02a5-4d72-9129-58f7c47d1d82,dc59802f-4841-42f7-addc-6331967874c9,99c389ec-5423-4cba-956e-460808e3979d
5000061,f6573573-7f18-459f-8a8f-3265862da1c2,13a3b501-5b4a-493f-bd89-42a5ac6d455f,3436d03d-7e56-46cb-a25b-bf1b6041ce03

# Генерация данных для лайков пользователей

In [383]:

df_rating = pd.DataFrame({
    'ids': df_data['ids'].to_list(),
    'rating': [randrange(1, 10) for _ in range(5000000)]
}, dtype=object)

In [384]:
df_rating.head()

                                    ids rating
0  81b729de-4919-41b6-b559-36fcb062eb0d      1
1  314cb7ed-1049-408e-bb51-9eab72b46f3a      5
2  8c5c581d-8aa0-467c-9b7c-0d62a6bb102f      6
3  bfa2a714-3aad-4809-84a2-ba88ba11b881      5
4  61c4e521-2734-4247-8b37-b4bc418665ef      6

In [385]:
df_rating.to_csv('user_rating.csv')

In [404]:
df_rating2 = pd.DataFrame({
    'user_id': df_data['user_id'].to_list(),
    'movie_id': df_data['movie_id'].to_list(),
    'rating': [randrange(1, 10) for _ in range(5000000)]
}, dtype=object)

In [405]:
df_rating2.to_csv('user_rating2.csv')

# Генерация данных для рецензии

In [373]:
import numpy as np
import string
num_rows = 100000

def text_generator(size=150, chars=string.ascii_letters + ' '):
    return ''.join(random.choice(chars) for _ in range(size))

data = [text_generator() for i in range(num_rows)]

In [397]:

df_review = pd.DataFrame({
    'id': [str(uuid.uuid4()) for _ in range(100000)],
    'user_movie_id': random.sample(df_data['ids'].to_list(), 100000),
    'text': data,
    'date': [datetime.datetime.today() for _ in range(100000)]
}, dtype=object)

In [407]:
df_review.head()

,id,user_movie_id,text,date
0,49b9e456-f5bc-4c29-916b-d077dcf8b75b,5ee33eab-7796-4676-a5f5-1c6fd6c1538a,CYPkLIEueVksobAOZgSbOgXjioMSqxRNTKPalTUDptKnil...,2023-01-03 00:54:44.256844
1,b0931e6a-c201-447c-b295-fab0691ba66d,516a1fc7-ff0d-498c-a75c-c10a4f68106c,dakvIRQStvFQycRDnBDhinBHNriawIp ijKQYBxnag tIn...,2023-01-03 00:54:44.256859
2,a8e957de-3411-4510-8a14-192f16e1a436,4ca3c507-14cb-4362-bbf0-0c9056d2c847,VJHhacgjqHQSxCyvZbJSAtYbjpbiFlCEBaHsNCxbQEzVZQ...,2023-01-03 00:54:44.256861
3,59bb65a6-59e7-4087-b581-782f323977e8,12a89c65-f9da-473c-b6e9-a8f7492de81b,gzsdrFBZAoFghWodCjyDFvLIWwIMojlmxtuFZdcZKBFwPP...,2023-01-03 00:54:44.256862
4,c2cc38be-85a1-438c-9682-5eeeca635ac0,a4637c7b-a2fd-450f-b13f-cf54e996973e,LtBswJYOMyAAqXquklqfdilSqCvgzalpLQoBASmKxLDLpd...,2023-01-03 00:54:44.256863

In [399]:
df_review.to_csv('user_review.csv')

In [408]:

        
df_review2 = pd.DataFrame({
    'user_id': df_data['user_id'].to_list()[300000:400000],
    'movie_id': df_data['movie_id'].to_list()[300000:400000],
    'text': data,
    'date': [datetime.datetime.today() for _ in range(100000)]
}, dtype=object)

In [410]:
df_review2.head()

,user_id,movie_id,text,date
0,94f9c9a4-ee56-466a-9d21-28b0a3575996,ce666a8b-4b08-4aff-851a-70e9617a7cf3,CYPkLIEueVksobAOZgSbOgXjioMSqxRNTKPalTUDptKnil...,2023-01-03 01:01:55.755298
1,1498a393-ebd7-428b-beba-678f83a189e4,174c3caa-5977-4cfe-be63-de037814f65a,dakvIRQStvFQycRDnBDhinBHNriawIp ijKQYBxnag tIn...,2023-01-03 01:01:55.755315
2,6963789f-be66-464c-97ca-f0c502a2d01e,54d39f4a-3fce-4d2d-ab5c-7c490abd5878,VJHhacgjqHQSxCyvZbJSAtYbjpbiFlCEBaHsNCxbQEzVZQ...,2023-01-03 01:01:55.755316
3,9f1bdd38-6030-4f86-8585-9a3706ed0c5c,ff7a3d8f-8145-4af1-9861-b1a20cd0a34f,gzsdrFBZAoFghWodCjyDFvLIWwIMojlmxtuFZdcZKBFwPP...,2023-01-03 01:01:55.755317
4,f65e223a-771d-4238-94d5-418cb5c294a1,3e83f62b-79a0-4edb-92e7-938c7effb078,LtBswJYOMyAAqXquklqfdilSqCvgzalpLQoBASmKxLDLpd...,2023-01-03 01:01:55.755319

In [411]:
df_review2.to_csv('user_review2.csv')

# Генерация данных для закладок

In [402]:
bookmarks = pd.DataFrame({'user_id': df_data.user_id.to_list()[100000:200000],
                         'movie_id': df_data.movie_id.to_list()[200000:300000]})

In [403]:
bookmarks.to_csv('bookmarks.csv')

In [ ]:
# likes: [1, 10]
# review: text: VARCHAR, date: DateTime, author: VARCHAR
# like/dislikes review: BINARY, rate: INT
# bookmarks: